extends layout
block content
    .content
        h2 Computersprog1
        table
            thead
                tr
                    th Titel
                    th Forfatter
                    th Forlag
                    th Udgave
                    th Pris
            tbody
                each book in books
                    tr
                        td= book.Titel
                        td= book.Forfatter
                        td= book.Forlag
                        td= book.Udgave
                        td= book.Pris
